*{
    margin: 0;
    padding: 0;
}

:root{
    --color-1: #dbd4ff;
    --color-2: #fffcff;
    --color-3: #191834;
    --color-4: #77767c;
    --color-5: #e2e2e2;
    --color-6: #617F8B;
}
:root{
    --font-family-1: braveEightyOne, 'Raleway', sans-serif;
    --font-family-2: 'Josefin Sans', sans-serif;;
    --font-family-3: 'Handjet', cursive;
    --font-family-4: 'IBM Plex Mono', monospace;
    --font-family-5: 'Roboto Condensed', sans-serif;
    --font-family-6: 'Ysabeau SC';
    --font-family-7: 'Alegreya Sans SC', sans-serif;
    --font-family-8: 'Bebas Neue', sans-serif;
    --font-family-9: 'Big Shoulders Inline Text', cursive;
    --font-family-10: 'Playfair Display', serif;
    --font-family-11: 'Raleway', sans-serif;
    --font-family-12: 'Share Tech Mono', monospace;
    --font-family-13: 'Tektur', cursive;
    --font-family-14: 'Wallpoet', cursive;
    --font-family-15: 'Ysabeau SC', sans-serif;
}


body{
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
/*<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,256L0,128L90,128L90,288L180,288L180,160L270,160L270,64L360,64L360,288L450,288L450,224L540,224L540,192L630,192L630,32L720,32L720,256L810,256L810,32L900,32L900,96L990,96L990,256L1080,256L1080,224L1170,224L1170,160L1260,160L1260,192L1350,192L1350,192L1440,192L1440,0L1350,0L1350,0L1260,0L1260,0L1170,0L1170,0L1080,0L1080,0L990,0L990,0L900,0L900,0L810,0L810,0L720,0L720,0L630,0L630,0L540,0L540,0L450,0L450,0L360,0L360,0L270,0L270,0L180,0L180,0L90,0L90,0L0,0L0,0Z"></path></svg>*/


/*start to the nav, appears in the top of the windows*/
.ulNav{
    font-family: var(--font-family-13);
    z-index: 5;
    position:fixed;
    top: -25px;
    width: 100%;
    height: 20px;
    background: rgb(142,137,164);
    background: linear-gradient(0deg, rgba(142,137,164,1) 0%, rgba(255,252,255,1) 100%);
    opacity: .8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: .8s;
    &:hover{
        opacity: 1;
        top: 0;
    }
}
.ulNav li{
    background: rgb(25,24,52);
    background: linear-gradient(0deg, rgba(25,24,52,1) 6%, rgba(97,127,139,1) 72%);
    height: 10px;
    width: 80px;
    padding: 10px; 
    text-align: center;
    transition: .8s;
    transform: rotate(0deg);
    list-style-type: none;
    font-size: 13px;
    &:hover{
        transform: rotate(0deg);
        transform: scale(1.1);
        padding-top: 10px;      
    }
}
.ulNav li a{
    text-decoration: none;
    color: var(--color-2);
}
.ulNav li i{
    position: absolute;
    border-radius: 50%;
    color: rgb(13, 136, 167);
    font-size: 25px;
    left: 35px;
    bottom: -29px;
    transition: 1s;
    -webkit-box-shadow: 3px 3px 51px 9px rgb(13, 136, 167);
    -moz-box-shadow: 3px 3px 51px 9px rgb(13, 136, 167);
    box-shadow: 3px 3px 51px 9px rgb(13, 136, 167);
}
.ulNav li:hover i{
    left: 30px;
    font-size: 30px;
}


/*icon to folow mouse*/
.icon-mouse{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 50px;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s;
    animation: move linear 5s infinite ;
}
@keyframes move {
    0%{
        left: 5px;
        top: 5px;
        color: yellow;
    }
    13%{
        left: 20px;
        top: 0px;
        color: yellow;
    }
    25%{
        left: 40px;
        top: 5px;
        color: red;
    }
    35%{
        left: 45px;
        top: 20px;  
        color: red;
    }
    45%{
        left: 40px;
        top: 40px;
        color: green;
    }
    60%{
        left: 20px;
        top: 45px;
        color: green;
    }
    70%{
        left: 5px;
        top: 40px;
        color: blue;
    }
    85%{
        left: 0px;
        top: 20px;
        color: blue;
    }
    100%{
        left: 5px;
        top: 5px;
        color: yellow;
    }
}



/*Card of Presentation, button 'Welcome' on the nav*/
.headerWelcome{
    font-family: var(--font-family-12);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37484F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2337484F' cx='50' cy='0' r='50'/%3E%3Cg fill='%2334454c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2332424a' cx='50' cy='100' r='50'/%3E%3Cg fill='%232f3f47' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232d3c45' cx='50' cy='200' r='50'/%3E%3Cg fill='%232a3942' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23283640' cx='50' cy='300' r='50'/%3E%3Cg fill='%2326333d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2324303b' cx='50' cy='400' r='50'/%3E%3Cg fill='%23222d38' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23202a35' cx='50' cy='500' r='50'/%3E%3Cg fill='%231e2733' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231c2430' cx='50' cy='600' r='50'/%3E%3Cg fill='%231a222e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23181f2b' cx='50' cy='700' r='50'/%3E%3Cg fill='%23161c28' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23141926' cx='50' cy='800' r='50'/%3E%3Cg fill='%23131723' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111420' cx='50' cy='900' r='50'/%3E%3Cg fill='%230f101e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230D0C1B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
.cardWelcome{
    background-color: #ffffff2d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 60%;
    border-radius: 10px;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 39px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 39px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 39px -3px rgba(0,0,0,0.75);
}
.cardWelcome::after{
    content: '';
    z-index: 0;
    position: absolute;
    width: 70%;
    height: 60%;
    border-radius: 10px;  
    transition: 3s;
}
.cardWelcome:hover::after{
    -webkit-box-shadow: inset 0px 1px 55px 15px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 1px 55px 15px rgba(0,0,0,0.75);
    box-shadow: inset 0px 1px 55px 15px rgba(0,0,0,0.75);    
}
.figWelcome{
    width: 40%;
    height: 65%;
    margin-right: 50px;
    background: #0e0b0ba9;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(50% at 50% 50%);
}
.imgWelcome{
    min-width: 320px;
    border-radius: 50%;
}
.h1h2Welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 60px;
    padding-left: 50px;
    z-index: 1;
}
.h1Welcome{
    position: relative;
    width: auto;
}
.h4Welcome{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: white;
}



/*list of my skills*/
.articleSkills{
    font-family: var(--font-family-7);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 40px;
    color: wheat;
    background-color: #37484F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2337484F' cx='50' cy='0' r='50'/%3E%3Cg fill='%2334454c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2332424a' cx='50' cy='100' r='50'/%3E%3Cg fill='%232f3f47' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232d3c45' cx='50' cy='200' r='50'/%3E%3Cg fill='%232a3942' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23283640' cx='50' cy='300' r='50'/%3E%3Cg fill='%2326333d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2324303b' cx='50' cy='400' r='50'/%3E%3Cg fill='%23222d38' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23202a35' cx='50' cy='500' r='50'/%3E%3Cg fill='%231e2733' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231c2430' cx='50' cy='600' r='50'/%3E%3Cg fill='%231a222e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23181f2b' cx='50' cy='700' r='50'/%3E%3Cg fill='%23161c28' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23141926' cx='50' cy='800' r='50'/%3E%3Cg fill='%23131723' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111420' cx='50' cy='900' r='50'/%3E%3Cg fill='%230f101e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230D0C1B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
.divSkills{
    position: relative;
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    background: rgba(0, 0, 0, 0.425);
    border: 5px solid rgba(255, 255, 255, 0.411);
    border-radius: 91% 9% 91% 9% / 13% 88% 12% 87% ;
}
.h3Skills{
    position: absolute;
    color: black;
}
.left{
    align-self: flex-start;
}
.right{
    align-self: flex-end;
}
.ulSkills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    height: 100%;
    width: 50%; 
    background-color: #dbd4ff3a;
}
.ulHardSkills{
    border-radius: 37% 63% 34% 66% / 20% 28% 72% 80%;
}
.ulSoftSkills{
    border-radius: 60% 40% 72% 28% / 56% 63% 37% 44% ;
}
.ulSkills li{  
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.ulSkills li i{
    font-size: 30px;
    transition: 1s;
    color: var(--color-2);
}



/*Presentation about me and my experience*/
.sectionPresentation{
    font-family: var(--font-family-5);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-image: url('https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-attachment:fixed;
}
.Presentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    position: relative;
}
.h2Presentation{
    text-align: center;
    position: absolute;
    top: 25%;
}
.divPresent{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: auto;
    padding: 10px;
    margin: 3%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.87);
    color: var(--color-5);
    text-align: center;
}
.svgTop{
    position: absolute;
    top: 0;
}
.svgBottom{
    position: absolute;
    bottom: 0;
}



/*Presentation of my projects*/
.sectionProjects{
    font-family: var(--font-family-3);
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0;
    color: var(--color-2);
    background-color: #131318;
    display: grid;
    grid-template-columns: 15% 25% 25% 25%;
    grid-template-rows: repeat(3,33%);
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}
.sectionProjects h2{
    justify-self: center;
    grid-column: 1;
    grid-row: 2;
    text-decoration:underline;
}
.divJS{
    grid-column: 2;
    grid-row: 1/-1;
}
.imgJs{
    width: 40%;
    height: auto;
    margin: 10px 15px 0 15px;
}
.videoJs{
    width: 40%;
    height: auto;
    margin: 10px 15px 0 15px;
}
.divC{
    grid-column: 4;
    grid-row: 1/-1;
}
.imgCsharp{
    width: 40%;
    height: auto;
    margin: 10px 15px 0 15px;
}
.divHtmlCss{
    grid-column: 3;
    grid-row: 1/-1;
}
.imgCss{
    width: 40%;
    height: auto;
    margin: 10px 15px 0 15px;
}
.divProjects figure{
    pointer-events: none;
}
.divProjects figure img{
    pointer-events: none;
}
.divProjects figure video{
    pointer-events: none;
}
.divProjects{
    position: relative;
    background: var(--color-5);
    color: var(--color-3);
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.349);
    transition: 1s;
    cursor: pointer;
    overflow: hidden;
}
/*class for javascript efect*/
.classJavascript{
    z-index: 1000;
    grid-row: 1/-1;
    background: var(--color-5);
    color: var(--color-3);
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.349);
    z-index: 1;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}
.classJavascript figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.classJavascript figure img{
    width: 30%;
    transition: 1s;
    &:hover{
        scale: 1.5;
    }
}
.classJavascript figure video{
    width: 30%;
    transition: 1s;
    &:hover{
        scale: 1.5;
    }
}
.btnExit{
    z-index: 0;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    width: auto;
    height: 20px;
    position: absolute;
    right: 5%;
    top: 10%;
    cursor: pointer;
    visibility: hidden;
    transition: 1s;
    font-weight: bold;
    &:hover{
        scale: 1.1;
        color: #191834;
    }
}
.bx i{
    pointer-events: none;
}



/*start to the footer*/
.footer{
    font-family: var(--font-family-6);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% auto auto auto;
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
    align-items: center;
    column-gap: 5%;
}
.h2Footer{
    grid-row: 1/-1;
    grid-column: 1/3;
    color: var(--color-5);
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2337484F' cx='50' cy='0' r='50'/%3E%3Cg fill='%2334454c' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2332424a' cx='50' cy='100' r='50'/%3E%3Cg fill='%232f3f47' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%232d3c45' cx='50' cy='200' r='50'/%3E%3Cg fill='%232a3942' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23283640' cx='50' cy='300' r='50'/%3E%3Cg fill='%2326333d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2324303b' cx='50' cy='400' r='50'/%3E%3Cg fill='%23222d38' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23202a35' cx='50' cy='500' r='50'/%3E%3Cg fill='%231e2733' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%231c2430' cx='50' cy='600' r='50'/%3E%3Cg fill='%231a222e' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23181f2b' cx='50' cy='700' r='50'/%3E%3Cg fill='%23161c28' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23141926' cx='50' cy='800' r='50'/%3E%3Cg fill='%23131723' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23111420' cx='50' cy='900' r='50'/%3E%3Cg fill='%230f101e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%230D0C1B' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}
.locationDivFooter{
    grid-row: 1;
    grid-column: 3;
}
.divMaps{
    grid-row: 1/-1;
    grid-column: 2/-1;
    width: 100%;
    position: relative;
    left: 800px;
    transition: 1s;
}
.locationDivFooter:hover .divMaps{
    left: 0;
}
.phoneDivFooter{ 
    grid-row: 2;
    grid-column: 3;
    &:hover button{
        left: 300px;
    }
}
.mailDivFooter{
    grid-row: 3;
    grid-column: 3;
    &:hover button{
        left: 300px;
    }
}
.divFooter button{
    grid-column: 2/-1;
    grid-row: 1/-1;
    width: 40%;
    height: 80%;
    background-color: var(--color-6);
    border: none;
    position: relative;
    transition: 1s;
    left: 800px;
    font-family: var(--font-family-8);
    font-size: 30px;
    cursor: pointer;
}
.divFooter{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 50% 50%;
    place-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    column-gap: 5%;
}
.divFooter i{
    grid-column: 1;
    grid-row: 1/-1;
    font-size: 5em;
}
.divFooter h3{
    align-self: flex-end;
    grid-column: 2;
    grid-row: 1;
}
.divFooter p{
    align-self: flex-start;
    grid-column: 2;
    grid-row: 2;
}
