
.liSoftSkills{
    view-timeline-name: --scroll;
    view-timeline-axis: block;
    animation-timeline: --scroll;
    animation-name: showLeft;
    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
    position: relative;
}
.liHardSkills{
    view-timeline-name: --scroll;
    view-timeline-axis: block;
    animation-timeline: --scroll;
    animation-name: showRight;
    animation-range: entry 20% cover 35%;
    animation-fill-mode: both;
    position: relative;
}

@keyframes showLeft {
    from{
        scale: .1;
        left: -500px;
        opacity: 0;
    }
    to{
        scale: 1;
        left: 0;
        opacity: 1;
    }    
}
@keyframes showRight {
    from{
        scale: .1;
        right: -500px;
        opacity: 0;
    }
    to{
        scale: 1;
        right: 0;
        opacity: 1;
    }    
}

.Presentation{
    view-timeline-name: --scroll;
    view-timeline-axis: block;
    animation-timeline: --scroll;
    animation-name: show;
    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
    position: relative;
}
@keyframes show {
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}


.sectionProyects{
    z-index: 1;
}



